extends ../layout

block content
	#main-content
		.row
			.col-md-12
				.box.box-orange
					.box-title
						h3
							i.icon-file
							| List Video
						.box-tool
							a(data-action="collapse", href="#")
								i.icon-chevron-up
							a(data-action="close", href="#")
								i.icon-remove
					.box-content(style="min-height:500px")
						.btn-toolbar.pull-right
							.btn-group
								a.btn.btn-circle.show-tooltip(title='', href='/video', data-original-title='Thêm mới')
									i.icon-plus
							.btn-group
								a.btn.btn-circle.show-tooltip(title='', href='/listvideo', data-original-title='Refresh')
									i.icon-repeat
						br
						br
						.table-responsive
							table.table.table-advance#listitemtbl
								thead
									tr
										th(style='width:18px')
										th Tên
										th Danh mục
										th Like
										th Share
										th(style='display:none;')
										th.visible-md.visible-lg(style='width:130px') Thao tác
								tbody
									if(resultJson.resul !=  null && resultJson.result.length > 0)
										-	for(var i=0;i<resultJson.result.length;i++)
											if(i%2 != 0)
												tr
													td
													td
														a(href='#', class='newsid')= resultJson.result[i].name
													td
														span.label.label-success= resultJson.result[i].videocate
													td
														span.label.label-success= resultJson.result[i].like
													td
														span.label.label-success= resultJson.result[i].share
													td#rowID(style='display:none;')= resultJson.result[i]._id
													td.visible-md.visible-lg
														.btn-group
															a.btn.btn-sm.show-tooltip(title='', href='#', class='itemid', data-original-title='Edit')
																i.icon-edit
															a.btn.btn-sm.btn-danger.show-tooltip(title='', class='delitemid', href='#', data-original-title='Delete')
																i.icon-trash
											else
												tr.table-flag-blue
													td
													td
														a(href='#', class='newsid')= resultJson.result[i].name
													td
														span.label= resultJson.result[i].videocate
													td
														span.label.label-success= resultJson.result[i].like
													td
														span.label.label-success= resultJson.result[i].share
													td#rowID(style='display:none;')= resultJson.result[i]._id
													td.visible-md.visible-lg
														.btn-group
															a.btn.btn-sm.show-tooltip(title='', href='#' , class='itemid', data-original-title='Edit')
																i.icon-edit
															a.btn.btn-sm.btn-danger.show-tooltip(title='', href='#', class='delitemid', data-original-title='Delete')
																i.icon-trash
						.text-center
							ul.pagination#pagingid
block scripts
	script(src='/vendor/jquery.form.js')
	script(src='/javascripts/listvideo.js')